ul, li, a{
    list-style-type: none;
    padding: 0;
    text-decoration: none;
    color: inherit;
    margin: 0;

}
.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    a {
        font-size: 0.8rem;
    }
    &:first-child {
        img {
            width: 75px;
        }
    }
    &:last-of-type {
        display: flex;
        flex-direction: row;
        gap: 20px;
        
        img {
            width: 14px;
        }
    }
}
.header-container {
    width: 100%;
    padding: 0 23vw;
}