.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    a {
        font-size: 0.8rem;
    }
    &:first-child {
        img {
            width: 75px;
        }
    }
    &:last-of-type {
        display: flex;
        flex-direction: row;
        gap: 20px;
        
        img {
            width: 14px;
        }
    }
}
.header-container {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: auto;
    padding: 0 23vw;
}