.new-bg {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 40px;
    }
}
.sector1 {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}
.sector2 {
    width: 100%;
    height: 700px;
    background: linear-gradient(black, white);
}
.sector3 {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}